<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CT - Collaborate Translator Tool</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* ask brother about foreign dentist  *@

    <meta name="description" content="CT or Collaborate Translator is a web application, made by a group of software engineer in United Nations to solve out-of-context translation problem with a help of people network." />

    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-messaging.js"></script>
    <script>
        var config = {
            apiKey: "<API_KEY>",
            authDomain: "<PROJECT_ID>.firebaseapp.com",
            databaseURL: "https://<DATABASE_NAME>.firebaseio.com",
            storageBucket: "<BUCKET>.appspot.com",
            messagingSenderId: "<SENDER_ID>",
        };
        firebase.initializeApp(config);
    </script>

</head>
<body>
@*
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("CT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    *@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Komsit.R, Anugoon.L and Nitchaphat.S of the United Nations.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
